/* Breakpoints */
$tablet: 768px;
$laptop: 1024px;
$desktop: 1536px;

/* Colors */
$primary-purple: #2b074d;
$gray: oklch(0.705 0.015 286.067);
$cyan: oklch(0.715 0.143 215.221);
$link: oklch(0.707 0.165 254.624);
